@model Concesionario.Models.Marcas

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Editar", "Marcas", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Marca)
        @Html.TextBoxFor(m => m.Marca, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <td colspan="2"><button type="submit" class="btn btn-secondary">Editar</button></td> | 
        @Html.ActionLink("Volver al Listado", "Index")
    </div>
}
